body{
    background-color: white;
}
.main_body{
    background-color: black;
    width: 440px;
    height: 780px;
    align-content: center;
    border: 10px solid gray;
    text-align: center;
    border-radius: 100px;
    
}
#nevigation{
    margin-top: 60px;
}
#header{
    color: gold;
    font-size: 30px;
    font-style: "bold";
    font-family: Courier;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 80px;
}
#buttons{
    margin-top: 50px;
}

#video{
    width: 400px;
    margin-top: 30px;
}
h2{
    margin-top: 60px;
}
#logo{
    width: 60px;
    margin-top: 50px;
    margin-left: 110px;
}

#song_name{
    width: 380px;
    align-content: center;
    text-align: center;
    margin-left: 30px;
}
/* h1{
    color: gold;
    font-family: cursive;
} */
h2,#time{
    color: white;
}
#myProgressBar{
    width: 400px;
}
#changePre,#play,#changeNext{
    margin-left: 35px;
    margin-right: 35px;
}
#prev,#img,#next{
    width: 60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -4px;
    margin-bottom :-4px; ;
}
